<?xml version="1.0"?>
<launch>
    <!-- PC Mapper Node -->
    <node pkg="vision" type="pc_mapper_node" name="pc_mapper_node" output="screen">
        <!-- Parameters -->
        <param name="prior" value="0.5" />
        <param name="prob_hit" value="0.55" />
        <param name="prob_miss" value="0.35" />
        <param name="min_prob" value="0.12" />
        <param name="max_prob" value="0.97" />
        <param name="octree_resolution" value="0.01" />
        <param name="resolution" value="0.01" />
        <param name="width" value="3500" />
        <param name="height" value="3500" />

        <remap from="pointcloud_topic_sub" to="/odom/point_cloud" />
        <remap from="odom_topic_sub" to="/robot/dlo/odom_node/odom" />
        <remap from="mask_topic_sub" to="/lane_filter/mask" />
        <remap from="debug_cloud_pub" to="/lane_filter/debug_cloud" />
        <remap from="map_pub" to="/global_map" />
    </node>
</launch>
