<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <rosparam command="load" file="$(find launcher)/config/sim/nova.yaml"></rosparam>
  <!-- Lane Filter Launch -->
  <node name="lane_filter_node" output="screen" pkg="filterer" type="lane_filterer.py">
    <remap from="rgb_image_topic_sub" to="zed2i/zed_node/rgb/image_rect_color"></remap>
    <remap from="mask_topic_pub" to="/lane_filter/mask"></remap>
  </node>
  <!-- Mapper Launch -->
  <node name="mapper_sim" output="screen" pkg="mapper" type="mapper_sim">
    <remap from="pointcloud_topic_sub" to="/nav/point_cloud"></remap>
    <remap from="odom_topic_sub" to="odom"></remap>
    <remap from="mask_topic_sub" to="/lane_filter/mask"></remap>
    <remap from="map_modify_sub" to="nav/needs_modify"></remap>
    <remap from="map_modify_pub" to="nav/needs_modify"></remap>
    <remap from="goal_sleep_pub" to="nav/goal_sleep"></remap>
    <remap from="map_pub" to="/nav/global_map"></remap>
  </node>
</launch>
