<?xml version="1.0"?>
<launch>

  <!-- Move Base Node -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find navigation)/config/base_global_planner.yaml" command="load" />
    <param name="base_global_planner" value="navfn/NavfnROS" />

    <rosparam file="$(find navigation)/config/base_local_planner.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <!-- <rosparam file="$(find navigation)/config/teb_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->

    <remap from="cmd_vel" to="/cmd_vel" />
    <remap from="scan" to="/ouster/scan2" />
    <remap from="odom" to="/robot/dlo/odom_node/odom" />
    <remap from="map" to="/global_map" />
  </node>
</launch>
