<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Move Base Node -->
  <node name="move_base" output="screen" pkg="move_base" type="move_base">
    <rosparam command="load" file="$(find navigation)/config/dwa/local_costmap_params.yaml" />
    <rosparam command="load" file="$(find navigation)/config/dwa/global_costmap_params.yaml" />
    <rosparam command="load" file="$(find navigation)/config/dwa/base_global_planner.yaml" />
    <rosparam command="load" file="$(find navigation)/config/dwa/base_local_planner.yaml" />
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <remap from="odom" to="/robot/dlo/odom_node/odom" />
  </node>
</launch>
